---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/widget?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "CreatedAt" : 0, "FromID" : 1, "ID" : 3,
        "IsActive" : false, "ListID" : 4, "Locale" : "fr_FR", "Name" : "", "Sendername"
        : "", "Subject" : "" }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 12:25:13 GMT
recorded_with: VCR 6.0.0
