---
http_interactions:
- request:
    method: post
    uri: https://api.mailjet.com/v3/REST/contactmetadata
    body:
      encoding: UTF-8
      string: '{"Datatype":"str","Name":"middle_name","NameSpace":"static"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "Datatype" : "str", "ID" : 65942, "Name"
        : "middle_name", "NameSpace" : "static" }], "Total" : 1 }'
  recorded_at: Sun, 20 Dec 2020 13:41:24 GMT
recorded_with: VCR 5.1.0
