---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contactmetadata/65942
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "Datatype" : "str", "ID" : 65942, "Name"
        : "middle_name", "NameSpace" : "static" }], "Total" : 1 }'
  recorded_at: Sun, 20 Dec 2020 13:43:03 GMT
recorded_with: VCR 5.1.0
