---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/liststatistics?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "ActiveCount" : 0, "ActiveExcludedSubscriberCount"
        : 0, "ActiveUnsubscribedCount" : 0, "Address" : "tpmfb40uf", "BlockedCount"
        : 0, "BouncedCount" : 0, "ClickedCount" : 0, "CreatedAt" : "2021-06-20T09:20:44Z",
        "DeferredCount" : 0, "DeliveredCount" : 1, "ExcludedSubscriberCount" : 0,
        "HardBouncedCount" : 0, "ID" : 36735, "IsDeleted" : false, "LastActivityAt"
        : "2021-06-28T10:45:08Z", "Name" : "MyFirstTest", "OpenedCount" : 0, "PreQueuedCount"
        : 0, "ProcessedCount" : 1, "QueuedCount" : 0, "SoftBouncedCount" : 0, "SpamComplaintCount"
        : 0, "SubscriberCount" : 1, "UnsubscribedCount" : 0, "WorkFlowExitedCount"
        : 0 }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 11:38:00 GMT
recorded_with: VCR 6.0.0
