---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/bouncestatistics?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{
        "Count": 1,
        "Data": [
          {
            "BouncedAt": "2018-01-01T00:00:00",
            "CampaignID": 1234567890,
            "ContactID": 123123123,
            "ID": 9876543210123457000,
            "IsBlocked": true,
            "IsStatePermanent": true,
            "StateID": 7
          }
        ],
        "Total": 1
      }'
  recorded_at: Mon, 28 Jun 2021 11:01:36 GMT
recorded_with: VCR 6.0.0
