---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/metadata?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 63, "Data" : [{ "Actions" : [], "APIVersion" : "3.0.11095",
        "Description" : "", "Filters" : [{ "DataType" : "SmallInt", "DefaultValue"
        : "", "Description" : "", "IsRequired" : false, "Name" : "CampaignAggregateID",
        "ReadOnly" : false }, { "DataType" : "AnsiString", "DefaultValue" : "", "Description"
        : "", "IsRequired" : false, "Name" : "Range", "ReadOnly" : false }], "IsReadOnly"
        : true, "Name" : "aggregategraphstatistics", "Properties" : [{ "DataType"
        : "Double", "DefaultValue" : "", "Description" : "", "IsRequired" : false,
        "Name" : "BlockedCount", "ReadOnly" : true }, { "DataType" : "Double", "DefaultValue"
        : "", "Description" : "", "IsRequired" : false, "Name" : "BlockedStdDev",
        "ReadOnly" : true }, { "DataType" : "Double", "DefaultValue" : "", "Description"
        : "", "IsRequired" : false, "Name" : "BouncedCount", "ReadOnly" : true },
        { "DataType" : "Double", "DefaultValue" : "", "[...]
