---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/listrecipient?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "ContactID" : 254509966, "ID" : 225690164,
        "IsActive" : true, "IsUnsubscribed" : false, "ListID" : 36735, "ListName"
        : "MyFirstTest", "SubscribedAt" : "2021-06-20T09:20:44Z", "UnsubscribedAt"
        : "" }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 11:36:37 GMT
recorded_with: VCR 6.0.0
