---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/apikeytotals?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "BlockedCount" : 0, "BouncedCount" : 0,
        "ClickedCount" : 0, "DeferredCount" : 0, "DeliveredCount" : 1, "HardBouncedCount"
        : 0, "LastActivity" : 0, "OpenedCount" : 0, "PreQueuedCount" : 0, "ProcessedCount"
        : 0, "SoftBouncedCount" : 0, "SpamcomplaintCount" : 0, "UnsubscribedCount"
        : 0, "WorkFlowExitedCount" : 0 }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 10:28:37 GMT
recorded_with: VCR 6.0.0
