---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/batchjob?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "AliveAt" : 1624877107, "APIKeyID" : 1643971,
        "Blocksize" : 0, "Count" : 1, "Current" : 0, "DataID" : 0, "Errcount" : 0,
        "ErrTreshold" : 0, "ID" : 356225669, "JobEnd" : 1624877107, "JobStart" : 1624877107,
        "JobType" : "Send newsletter", "Method" : "Unknown", "RefId" : 44098, "RequestAt"
        : 0, "Status" : "Completed", "Throttle" : 0 }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 10:50:14 GMT
recorded_with: VCR 6.0.0
