---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contact/123/getcontactslists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 404
      message: Object not found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "ErrorInfo" : "", "ErrorMessage" : "Object not found", "StatusCode"
        : 404 }'
  recorded_at: Thu, 29 Oct 2020 23:39:35 GMT
recorded_with: VCR 5.1.0
