---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contact/124409882/getcontactslists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 2, "Data" : [{ "IsActive" : true, "IsUnsub" : false, "ListID"
        : 32964, "SubscribedAt" : "2020-10-22T08:04:45Z" }, { "IsActive" : true, "IsUnsub"
        : false, "ListID" : 33952, "SubscribedAt" : "2020-10-22T08:07:33Z" }], "Total"
        : 2 }'
  recorded_at: Thu, 29 Oct 2020 23:27:24 GMT
recorded_with: VCR 5.1.0
