---
http_interactions:
- request:
    method: post
    uri: https://api.mailjet.com/v3.1/send
    body:
      encoding: UTF-8
      string: '{"Messages":[{"From":{"Email":"pilot@example.com","Name":"Mailjet Ruby
        Wrapper CI"},"To":[{"Email":"passenger@example.com","Name":"test"}],"Subject":"Mailjet
        Ruby Wrapper CI Send API v3.1 spec","TextPart":"Mailjet Ruby Wrapper CI content","HTMLPart":"HTML
        Mailjet Ruby Wrapper CI content"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mj-Request-Guid:
      - 9dedd85d-9d95-4539-a1da-c6b92621d0ae
    body:
      encoding: UTF-8
      string: '{"ErrorIdentifier":"df3d4f76-1853-492b-b544-b75545e99e76","StatusCode":401,"ErrorMessage":"API
        key authentication/authorization failure. You may be unauthorized to access
        the API or your API key may be expired. Visit API keys management section
        to check your keys."}'
  recorded_at: Tue, 10 Jan 2023 10:22:12 GMT
recorded_with: VCR 6.1.0
