---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contactslist/38778
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "Address" : "twkgdlfxg", "CreatedAt" : "2020-11-06T13:38:49Z",
        "ID" : 38778, "IsDeleted" : false, "Name" : "Test List", "SubscriberCount"
        : 0 }], "Total" : 1 }'
  recorded_at: Mon, 09 Nov 2020 03:17:08 GMT
[...]
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contactslist/38778
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "Address" : "twkgdlfxg", "CreatedAt" : "2020-11-06T13:38:49Z",
        "ID" : 38778, "IsDeleted" : true, "Name" : "Test List", "SubscriberCount"
        : 0 }], "Total" : 1 }'
  recorded_at: Mon, 09 Nov 2020 03:17:09 GMT
recorded_with: VCR 5.1.0
