---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contactslist?Limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 2, "Data" : [{ "Address" : "P8zbwo0g3", "CreatedAt" : "2020-09-16T10:35:55Z",
        "ID" : 32964, "IsDeleted" : false, "Name" : "UnDPbpLmQP", "SubscriberCount"
        : 1 }, { "Address" : "tyra0hcvz", "CreatedAt" : "2020-09-26T18:48:53Z", "ID"
        : 33952, "IsDeleted" : false, "Name" : "my_contactslist", "SubscriberCount"
        : 1 }], "Total" : 2 }'
  recorded_at: Fri, 06 Nov 2020 09:20:19 GMT
recorded_with: VCR 5.1.0
