---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/parseroute?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{
        "Count": 1,
        "Data": [
          {
            "APIKeyID": 123456,
            "Email": "parseroute@example.com",
            "ID": 654321,
            "Url": "https://www.example.com/123/"
          }
        ],
        "Total": 1
      }'
  recorded_at: Mon, 28 Jun 2021 11:58:14 GMT
recorded_with: VCR 6.0.0
