---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contactdata?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "ContactID" : 254509966, "Data" : [{ "Name"
        : "firstname", "Value" : "Value" }, { "Name" : "name", "Value" : "Value"
        }, { "Name" : "country", "Value" : "Value" }, { "Name" : "newsletter_sub",
        "Value" : "N" }], "ID" : 254509966, "MethodCollection" : "" }], "Total" :
        1 }'
  recorded_at: Mon, 28 Jun 2021 10:53:59 GMT
recorded_with: VCR 6.0.0
