---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/myprofile?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "AddressCity" : "", "AddressCountry" : "A",
        "AddressPostalCode" : "", "AddressState" : "", "AddressStreet" : "", "BillingEmail"
        : "", "BirthdayAt" : "", "CompanyName" : "Name", "CompanyNumOfEmployees"
        : "", "ContactPhone" : "", "EstimatedVolume" : 6000, "Features" : "", "Firstname"
        : "Value", "ID" : 123, "Industry" : "123", "JobTitle" : "", "Lastname"
        : "Value", "UserID" : 123, "VAT" : 0, "VATNumber" : "", "Website" :
        "https:\/\/www.value.com\/uk-ua" }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 11:42:58 GMT
recorded_with: VCR 6.0.0
