---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/DATA/BatchJob/99999/CSVError/text:csv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/csv
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 404
      message: Source object not found
    headers:
      Content-Type:
      - text/csv
    body:
      encoding: UTF-8
      string: '{ "ErrorInfo" : "", "ErrorMessage" : "Source object not found", "StatusCode"
        : 404 }'
  recorded_at: Thu, 26 Oct 2023 14:45:46 GMT
recorded_with: VCR 6.2.0
