---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/preferences?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "ID" : 33659265, "Key" : "account_notifications_sms",
        "UserID" : 1600083, "Value" : "1" }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 12:03:37 GMT
recorded_with: VCR 6.0.0
