---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/template/123/detailcontent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mj-Request-Guid:
      - 68b0b43b-826d-437e-93c4-9ea9961ab425
    body:
      encoding: UTF-8
      string: '{"ErrorIdentifier":"cfe8d2f9-049f-40aa-9353-cf0b76514e34","StatusCode":404,"ErrorMessage":"The
        resource with the specified ID you are trying to reach does not exist."}'
  recorded_at: Mon, 02 Nov 2020 03:36:04 GMT
recorded_with: VCR 5.1.0
