---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/template/1715745/detailcontent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mj-Request-Guid:
      - 8068900d-524a-4623-8533-76e4287b4415
    body:
      encoding: UTF-8
      string: |
        {"Count":1,"Data":[{"MJMLContent":null,"Html-part":"Hello","Text-part":null,"Headers":{"From":"pilot@example.com", "Subject":"Your email flight plan!"}}],"Total":1}
  recorded_at: Mon, 02 Nov 2020 03:22:43 GMT
recorded_with: VCR 5.1.0
