---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contact?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "CreatedAt" : "2020-09-16T10:35:56Z", "DeliveredCount"
        : 0, "Email" : "passenger1@example.com", "ExclusionFromCampaignsUpdatedAt"
        : "", "ID" : 124409882, "IsExcludedFromCampaigns" : false, "IsOptInPending"
        : false, "IsSpamComplaining" : false, "LastActivityAt" : "", "LastUpdateAt"
        : "", "Name" : "", "UnsubscribedAt" : "", "UnsubscribedBy" : "" }], "Total"
        : 1 }'
  recorded_at: Thu, 15 Oct 2020 06:16:26 GMT
recorded_with: VCR 5.1.0
