---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/wrongresourcepath?Limit=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 500
      message: Internal error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        { "ErrorInfo" : "EFPWebError", "ErrorMessage" : "Could not determine HTTP module for request \"wrongresourcepath\"", "StatusCode" : 500 }
  recorded_at: Mon, 09 Nov 2020 03:20:03 GMT
recorded_with: VCR 5.1.0
