---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/apikey?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "ACL" : "", "APIKey" : "<PUBLIC_KEY>", "CreatedAt"
        : "2020-09-16T10:33:54Z", "ID" : 1404561, "IsActive" : true, "IsMaster" :
        true, "Name" : "user", "QuarantineValue" : 0, "RegionID" : 0, "Runlevel" :
        "Normal", "SecretKey" : "<PRIVATE_KEY>", "Skipspamd" : 1, "TrackHost" : "xkw6j.mjt.lu",
        "UserID" : 1389226 }], "Total" : 1 }'
  recorded_at: Mon, 09 Nov 2020 08:11:14 GMT
recorded_with: VCR 5.1.0
