---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contactmetadata?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "Datatype" : "str", "ID" : 67391, "Name"
        : "firstname", "NameSpace" : "static" }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 11:03:38 GMT
recorded_with: VCR 6.0.0
