---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contact/196009940
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "CreatedAt" : "2020-12-10T17:35:35Z", "DeliveredCount"
        : 0, "Email" : "save_resource_test@example.com", "ExclusionFromCampaignsUpdatedAt"
        : "2020-12-10T17:35:35Z", "ID" : 196009940, "IsExcludedFromCampaigns" : true,
        "IsOptInPending" : false, "IsSpamComplaining" : false, "LastActivityAt" :
        "", "LastUpdateAt" : "", "Name" : "Save Resource", "UnsubscribedAt" : "",
        "UnsubscribedBy" : "" }], "Total" : 1 }'
  recorded_at: Thu, 10 Dec 2020 17:37:27 GMT
- request:
    method: put
    uri: https://api.mailjet.com/v3/REST/contact/196009940
    body:
      encoding: UTF-8
      string: '{"CreatedAt":"2020-12-10 17:35:35 UTC","DeliveredCount":0,"Email":"save_resource_test@example.com","Id":196009940,"Name":"Joe
        Doe"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "CreatedAt" : "2020-12-10T17:35:35Z", "DeliveredCount"
        : 0, "Email" : "save_resource_test@example.com", "ExclusionFromCampaignsUpdatedAt"
        : "2020-12-10T17:35:35Z", "ID" : 196009940, "IsExcludedFromCampaigns" : true,
        "IsOptInPending" : false, "IsSpamComplaining" : false, "LastActivityAt" :
        "", "LastUpdateAt" : "2020-12-10T17:37:27Z", "Name" : "Joe Doe", "UnsubscribedAt"
        : "", "UnsubscribedBy" : "" }], "Total" : 1 }'
  recorded_at: Thu, 10 Dec 2020 17:37:27 GMT
recorded_with: VCR 5.1.0
