---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/graphstatistics?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{
        "Count": 1,
        "Data": [
          {
            "BlockedCount": 0,
            "BouncedCount": 1,
            "ClickedCount": 3,
            "DeferredCount": 0,
            "DeliveredCount": 13,
            "HardbouncedCount": 1,
            "OpenedCount": 9,
            "ProcessedCount": 14,
            "QueuedCount": 0,
            "RefTimestamp": "2018-01-01",
            "SendtimeStart": 1514764800,
            "SoftbouncedCount": 0,
            "SpamcomplaintCount": 0,
            "UnsubscribedCount": 1
          }
        ],
        "Total": 1
      }'
  recorded_at: Mon, 28 Jun 2021 11:33:54 GMT
recorded_with: VCR 6.0.0
