---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/messagestatistics?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "AverageClickDelay" : 0, "AverageClickedCount"
        : 0, "AverageOpenDelay" : 0, "AverageOpenedCount" : 0, "BlockedCount" : 0,
        "BouncedCount" : 0, "CampaignCount" : 1, "ClickedCount" : 0, "DeferredCount"
        : 0, "DeliveredCount" : 1, "HardBouncedCount" : 0, "OpenedCount" : 0, "ProcessedCount"
        : 1, "QueuedCount" : 0, "SoftBouncedCount" : 0, "SpamComplaintCount" : 0,
        "TotalClicksCount" : 0, "TotalOpensCount" : 0, "TransactionalCount" : 0, "UnsubscribedCount"
        : 0 }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 11:42:14 GMT
recorded_with: VCR 6.0.0
