---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/clickstatistics?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{
        "Count": 1,
        "Data": [
          {
            "ClickedAt": "2018-01-01T00:00:00",
            "ClickedDelay": 123,
            "ContactID": 987654,
            "ID": 1234567890,
            "MessageID": 987654321234568000,
            "Url": "https://www.example.com/",
            "UserAgentID": 154
          }
        ],
        "Total": 1
      }'
  recorded_at: Mon, 28 Jun 2021 11:00:31 GMT
recorded_with: VCR 6.0.0
