---
http_interactions:
- request:
    method: post
    uri: https://api.mailjet.com/v3/DATA/contactslist/invalid_id/CSVData/text:plain
    body:
      encoding: UTF-8
      string: |-
        "email","age"
        "foo@example.org",42
        "bar@example.com",13
        "sam@ple.co.uk",37
    headers:
      Content-Type:
      - text/plain
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 404
      message: Source object not found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: '{ "ErrorInfo" : "", "ErrorMessage" : "Source object not found", "StatusCode"
        : 404 }'
  recorded_at: Mon, 09 Oct 2023 11:47:07 GMT
recorded_with: VCR 6.2.0
