---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/campaign?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "CampaignType" : 2, "ClickTracked" : 1,
        "CreatedAt" : "2021-06-28T10:45:08Z", "CustomValue" : "mj.nl=44098", "FirstMessageID"
        : 95420017985181303, "FromEmail" : "hidden@email.com", "FromID" : 46935,
        "FromName" : "Pet", "HasHtmlCount" : 1, "HasTxtCount" : 1, "ID" : 7390730,
        "IsDeleted" : false, "IsStarred" : false, "ListID" : 36735, "NewsLetterID"
        : 44098, "OpenTracked" : 1, "SendEndAt" : "2021-06-28T10:45:08Z", "SendStartAt"
        : "2021-06-28T10:45:08Z", "SpamassScore" : 0, "Status" : 0, "Subject" : "[[data:country:\"\"]]
        [[data:firstname:\"\"]]", "UnsubscribeTrackedCount" : 0 }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 10:51:11 GMT
recorded_with: VCR 6.0.0
