---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contact/unknown@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 404
      message: Object not found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "ErrorInfo" : "", "ErrorMessage" : "Object not found", "StatusCode"
        : 404 }'
  recorded_at: Thu, 15 Oct 2020 06:23:14 GMT
recorded_with: VCR 5.1.0
