---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/messagehistory/123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 0, "Data" : [], "Total" : 0 }'
  recorded_at: Thu, 29 Oct 2020 23:37:34 GMT
recorded_with: VCR 5.1.0
