---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/messagehistory/288230381068036023
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "Comment" : "", "EventAt" : 1603783635,
        "EventType" : "sent", "State" : "", "Useragent" : "", "UseragentID" : 0 }],
        "Total" : 1 }'
  recorded_at: Thu, 29 Oct 2020 22:56:56 GMT
recorded_with: VCR 5.1.0
