---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/campaignstatistics?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "Count" : 1, "Data" : [{ "BlockedCount" : 0, "BouncedCount" : 0,
        "CampaignID" : 7390730, "CampaignIsStarred" : false, "CampaignSendStartAt"
        : "2021-06-28T10:45:08Z", "CampaignSubject" : "[[data:country:\"\"]] [[data:firstname:\"\"]]",
        "ClickedCount" : 0, "ContactListName" : "", "DeferredCount" : 0, "DeliveredCount"
        : 1, "HardBouncedCount" : 0, "LastActivityAt" : "2021-06-28T10:45:14Z", "NewsLetterID"
        : 44098, "OpenedCount" : 0, "PreQueuedCount" : 0, "ProcessedCount" : 1, "QueuedCount"
        : 0, "SegmentName" : "", "SoftBouncedCount" : 0, "SpamComplaintCount" : 0,
        "UnsubscribedCount" : 0, "WorkFlowExitedCount" : 0 }], "Total" : 1 }'
  recorded_at: Mon, 28 Jun 2021 10:51:59 GMT
recorded_with: VCR 6.0.0
