---
http_interactions:
- request:
    method: get
    uri: https://api.mailjet.com/v3/REST/contactfilter?Limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<BASIC>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Count": 1,"Data": [{"Description": "Will send only to contacts under 35 years of age.","Expression": "(age<35)","Name": "Customers under 35","ID": 123,"Status": "unused"}],"Total": 1}'
  recorded_at: Mon, 28 Jun 2021 10:54:40 GMT
recorded_with: VCR 6.0.0
